/*aes comments 4.4.18*/

/*container 4.4.18*/
.container{

}

/*body 4.4.18*/
body{

}

/*nav 4.4.18*/
nav{

}
.sw-with{
	width:100%;
	color: white;
}
.sw-no-underline: hover{
	text-decoration: none;
}

/*profile navbar4.5.18*/
.navbar-navbar-dark-bg-primary{

}
.navbar-brand{te

}

.sw-black

.sw-absolute-right{
	position: absolute;
	right: 15px;
}